<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ropa mujer</title>
    <!---
    <link rel="stylesheet" href="topi.css">-->
    <% include partials/head %>
    <style>
        body, html {
        height: 100%;
        }

        .bg { 
        /* The image used */
        background-image: url("img/modaIndex.jpeg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" style="color:white">
                            <span class="fa fa-user"></span> Iniciar Sesión
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/signup" style="color:white">Crear Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:white">
                            <span class="fa fa-shopping-cart"></span> Carrito
                        </a>
                    </li>
                  </ul>
                </div>
              </nav>
    </header>
    <div class="bg">
    <div class="container">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color:transparent">
                <a class="navbar-brand" href="#" style="color:white"><h1>TOPI Online</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/mujer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                                Mujer
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/mujer">Ropa Deportiva</a>
                                <a class="dropdown-item" href="#">Blusas</a>
                                <a class="dropdown-item" href="#">Vestidos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Descuentos</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                                Hombre
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Polos</a>
                                <a class="dropdown-item" href="#">BVDs</a>
                                <a class="dropdown-item" href="#">Camisas</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Descuentos</a>
                            </div>
                        </li>                        
                    </ul>
                </div>
            </nav>
        </div>  
    </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>