<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOPI</title>
    <% include partials/head %>
</head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span> Inicia Sesión o Crea tu cuenta</h1>
                <a href="/login" class="btn btn-light">
                    <span class="fa fa-user"></span> Iniciar Sesión
                </a>
                <a href="/signup" class="btn btn-light">
                    <span class="fa fa-user"></span> Crear Cuenta
                </a>
            </div>
        </div>
    </div>
</body>
</html>